// Variables de Color Metro
$yellow: #ffda00;
$red: #fe0100;
$dark-yellow: #fda407;
$black: #333333;
$gray: #777777;


.nopadding{
    padding: 0;
}

.nopadding-left{
    padding-left: 0;
}

.nopadding-right{
    padding-right: 0;
}

strong{
    font-weight: bold;
}

.supercont_delivery h2{
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    line-height: 1;
    border-bottom: 1px #efefef solid;
    &:after{
        content: '';
            display: block;
            height: 4px;
            background-color: $red;
            margin: 5px 0 0px;
    }
}

.supercont_delivery h3{
    font-size: 20px;
    font-weight: bold;
    text-align: center; 
    line-height: 1.5;
}

.supercont_delivery{
    .banner{
        margin-bottom: 50px;
        h1{
            font-size: 25px;
            font-weight: bold;
            margin: 10px 0;
            text-align: center;
            &:after{
                content: '';
                display: block;
                width: 120px;
                height: 4px;
                background-color: $yellow;
                margin: 5px auto;
            }
        }

        img{
            width: 100%;
        }

        .desktop-img{
            display: block;
            @media screen and (max-width: 769px) {
                display: none;
            }
        }

        .mobile-img{
            display: none;
            @media screen and (max-width: 769px) {
                display: block;
            }
        }
    }

    .terms{
        h2{
            margin-bottom: 25px;
            &:after{
                width: 130px;
            }
        }

        .box{
            // padding: 30px;
            min-height: 155px;
            margin-bottom: 50px;
            img{
                width: 45px;
                height: auto;
                margin: 0 auto;
            }

            p{
                text-align: center;
            }

            h3{
                margin-top: 10px;
            }
        }

        .shipping-cost{
            border-left: solid 2px $dark-yellow;
            border-right: solid 2px $dark-yellow;
            @media screen and (max-width: 769px) {
                border-top: solid 2px $dark-yellow;
                border-bottom: solid 2px $dark-yellow;
                border-left: none;
                border-right: none;
                padding: 40px 0;
            }
        }

        .payment-method{
            ul.list-1, ul.list-2{
                text-align: center;
                margin-bottom: 5px;
                li{
                    display: inline;
                    padding: 0 5px;   
                }
            }

            ul.list-1{
                li{
                    &:nth-child(2){
                        border-left: solid 1px black;
                        border-right: solid 1px black;
                        padding-right: 10px;
                        padding-left: 10px;
                    }
                }
            }

            ul.list-2{
                li{
                    &:nth-child(2){
                        border-left: solid 1px black;
                        border-right: solid 1px black;
                        padding-right: 10px;
                        padding-left: 10px;
                    }

                    &:nth-child(3){
                        border-right: solid 1px black;
                        padding-right: 10px;
                        padding-left: 10px;
                    }
                }
            }

            img{
                width: 75px;
            }

            @media screen and (max-width: 769px) {
                border-bottom: solid 2px $dark-yellow;
                padding-bottom: 45px;
            }
        }
    }

    .information{
        h2:after{
            width: 420px; 
            @media screen and (max-width: 769px) {
                width: 350px;
            }
        }

        .accordion,.accordion * {
            -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            box-sizing:border-box;
        }

        .accordion {
            overflow:hidden;
            margin: 40px 0;
            .col-accordion1{
                margin-right: -10px;
                @media screen and (max-width: 769px) {
                    margin-right: -15px;
                }
            }
    
            .col-accordion2{
                margin-left: -10px;
                @media screen and (max-width: 769px) {
                    margin-left: -15px; 
                }
            }

            .row{
                .accordion-section{
                    margin-bottom:  10px;
                    .accordion-section-title {
                        display:inline-block;
                        transition:all linear 0.15s;
                        background:  orange;
                        width:  100%;
                        display:  block;
                        color: #fff;
                        text-align:  center;
                        padding:  15px 0;
                        position: relative;
                        span{
                            position: absolute;
                            display: block;
                            right: 0px;
                            top: calc(50% - 25px);
                            font-size: 45px;
                            width: 50px;
                            height: 50px;
                            color: #fff;
                            opacity: 0.5;
                            transform: rotate(90deg);
                            -moz-transform:rotate(90deg);
                            -webkit-transform:rotate(90deg);
                            -o-transform:rotate(90deg);
                            -ms-transform:rotate(90deg);
                            transition: all ease 0.3s;
                            // transform-origin: center;
                            line-height: 1em;
                        }
                    }

                    .accordion-section-content {
                        display:none;
                        padding-top: 10px; 
                        p{
                            text-align: center;
                        }

                        .accordion-min{
                            overflow:hidden;
                            .accordion-section-min{
                                .accordion-section-title-min {
                                    display:  block;
                                    text-align: center;
                                    font-weight: bold;
                                    margin-bottom: 10px;
                                    @media screen and (max-width: 991px) {
                                        margin: 20px;
                                    }
                                }

                                .accordion-section-content-min{
                                    display: none; 
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .terms_conditions{
        padding-bottom: 30px;
        border-bottom: solid 15px $dark-yellow;
        h2:after{
            width: 220px; 
        }

        p{
            font-size: 16px;
            color: #777777;
            width: 60%;
            margin: 0 auto;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
            @media screen and (max-width: 769px) {
                width: 90%;
                font-size: 12px;
            }
        }
    }

    &.shipping{
        .terms_conditions{
            border: none;
        }

        .terms{
            padding-bottom: 30px;
            border-bottom: solid 15px $dark-yellow;
        }

        .information{
            h2:after{
                width: 250px;
            }

            .accordion{
                .accordion-min{
                    .accordion-section-title-min{
                        @media screen and (max-width: 991px) {
                            margin: 20px;
                        }
                    }
                }
            }
        }

        .terms_conditions{
            h2:after{
                width: 260px;
            }

            ul.cont-list {
                list-style:  initial;
                text-align:  center;
                width:  60%;
                margin:  30px auto;
                li {
                    padding-bottom:  10px;
                }
                @media screen and (max-width: 991px) {
                    text-align: left;
                    width: 85%;
                    margin: 30px auto;
                }
            }
        }

        .banner{
            .left{
                padding-right: 0;
                @media screen and (max-width: 991px) {
                    padding-right: 15px;
                }
               .desktop-img{
                    display: block;
                    @media screen and (max-width: 769px) {
                        display: none;
                    }
               } 

               .mobile-img{
                    display: none;
                    @media screen and (max-width: 769px) {
                        display: block;
                    }
               }

               img{
                   width: 100%;
                   height: auto;
               }
            }

            .right{
                padding-left: 0;
                background-image: url('../images/Landing-Metro-Envios-Header-Textura.jpg');
                background-size: 100%;
                // padding-top: 55px;
                @media screen and (max-width: 991px) {
                    padding-left: 15px;
                }
                .icon{
                    padding-right: 0;
                    img{
                        width: 47%;
                        margin: 0 auto;
                        @media screen and (max-width: 991px) {
                            width: 18%;
                        }
                    }
                }

                .text{
                    padding-top: 15px;
                    padding-left: 0;
                    @media screen and (max-width: 991px) {
                        padding-top: 5px;
                        padding-bottom: 10px;
                        padding-left: 15px !important;
                    }
                    h4{
                        font-weight: bold;
                        font-size: 20px;
                        color: #484848;
                        @media screen and (max-width: 991px) {
                            font-size: 14px;
                            text-align: center;
                        }
                    }

                    p{
                        @media screen and (max-width: 991px) {
                            font-size: 10px;
                            text-align: center;
                            padding: 0 10px;
                        }

                        @media screen and (max-width: 1285px) and (min-width: 992px){
                            font-size: 12px;
                        }
                    }
                }

                .row{
                    margin-bottom: 10px;
                    &:first-child{
                        margin-top:50px;
                        @media screen and (max-width: 1285px) and (min-width: 992px){
                            margin-top: 25px;
                        }
                    }

                    &:last-child{
                        .text{
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}